.header {
    justify-content: center;
    text-align:center;
}
ol li {
    list-style-position: inside;
}
.exam {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#table {
    line-height:100%
}
footer {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left:  30px;
    background: #316ec9;
    color: rgb(219, 219, 219);
}
a.foo:hover {
  text-decoration-color: rgb(24, 4, 77);
  color: black;
}
a.foo {
  text-decoration-color: white;
  color: white;
}

body{
    background-color: lightblue;
    margin: 0;
    padding: 20;
}

td{
    border: 1px solid rgb(24, 4, 77);
    padding: 8px;
}

th{
    padding: 12px;
    text-align: left;
}


